/* General styling */
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}
.manga-menu {
    display: block;
    width: 100%;
    background: #29292c;
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  
  /* Strip the ul of padding and list styling */
  .manga-menu ul {
    
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    background: #29292c;
  }
  
  /* Create a horizontal list with spacing */
  .manga-menu li {
    display: inline-block;
  }
  
  /* Style for menu links */
  .manga-menu li a {
    display: block;
    min-width: 140px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-transform: normal;
    background: #29292c;
    text-decoration: none;
    margin-left: -5px;
    padding: 10px 0;
    transition: all 0.4s ease 0s;
  }
  
  /* Hover state for top level links */
  .manga-menu li:hover a {
    color: rgba(0, 0, 0, 0.5);
    background-color: lightgray;
  }
  
  /* Style for dropdown links */
  .manga-menu li:hover ul a {
    background: #29292c;
    color: white;
    height: 40px;
    line-height: 40px;
  }
  
  /* Hover state for dropdown links */
  .manga-menu li:hover .manga-menu ul a:hover {
    color: lightgray;
  }
  
  /* Hide dropdown links until they are needed */
  .manga-menu li ul {
    display: none;
  }
  
  /* Make dropdown links vertical */
  .manga-menu li ul li {
    display: block;
    float: none;
  }
  
  /* Prevent text wrapping */
  .manga-menu li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
  }
  
  /* Style 'show menu' label button and hide it by default */
  .manga-menu .show-manga-menu {
    text-decoration: none;
    color: white;
    background: #29292c;
    text-align: center;
    padding: 10px 15px;
    display: none;
    cursor: pointer;
    text-transform: normal;
  }
  
  .manga-menu .show-manga-menu span {
    padding-left: 2em;
    text-align: right;
  }
  
  /* Hide checkbox */
  .manga-menu input[type="checkbox"] {
    display: none;
  }
  
  /* Show menu when invisible checkbox is checked */
  .manga-menu input[type="checkbox"]:checked ~ #manga-menu {
    display: block;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .manga-menu .manga-lines {
      border-bottom: 15px double black;
      border-top: 5px solid black;
      content: "";
      height: 5px;
      width: 20px;
      padding-right: 15px;
      float: right;
    }
    /* Make dropdown links appear inline */
    .manga-menu ul {
      position: static;
      display: none;
    }
    /* Create vertical spacing */
    .manga-menu li {
      margin-bottom: 0;
    }
    /* Make all menu links full width */
    .manga-menu ul li,
    .manga-menu li a {
      width: 100%;
    }
    /* Display 'show menu' link */
    .manga-menu .show-manga-menu {
      display: block;
    }
  }
  h1{
    align-self: center;
  }
  .card {
    width: 20%;
    height: 100%;
    border-radius: 20px;
    color:white;
    margin:10%;
    box-shadow: 15px 15px 30px rgb(25, 25, 25);
    
  }
  .textContainer{
    width: 80%;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  }
  .avatarImage {
    background: linear-gradient(to right,rgb(54, 54, 54),rgb(32, 32, 32));
    margin:20px auto 20px auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
  }
  .name {
    font-size: 0.9em;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
  }
  .email {
    font-size: 0.84em;
    color: rgb(194, 194, 194);
    letter-spacing: 0.2px;
  }
  
  .card__content {
    background: rgb(39, 39, 39);
  border-radius: 12px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
    width: 100%;
    height: 640px;
    display:flex;
    flex-direction: column;
    gap:10px; 

  }

  .button {
    position: relative;
    width: 65%;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #cc0000;
    background-color: #cc0000;
    overflow: hidden;
    margin:10px auto 10px auto;
    border-radius: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(35px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position:absolute;
    right:35%;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
  }
  
  .button:hover {
    background: #8f2222;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width:20%;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #cc0000;
  }
  
  .button:active {
    border: 1px solid #cc0000;
  }
  .button_chgPwd {
    width:66%;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin:10px auto 10px auto;
  }
  
 .button_chgPwd:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .button_chgPwd:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .button_chgPwd::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .button_chgPwd:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }