/* General styling */
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}
#mainContainer{
    width: 75%;
    height: 100%;
    padding-top: 30px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);

    }
  .row {
      display: flex;
  }
  
  .manga-container,
  .last-visited-container {
      width: 50%;
  }
  
  .last-visited-container {
      padding-left: 20px; /* Add some space between the two sections */
      margin: 20px 10% 20px 20px;
      width: 800px;
      color: white;
      text-align: left;
      background-color:#29292c;
      padding: 10px;
      border-radius: 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }


/* Manga updates styling */
#randomMangaContainer {
  margin: 20px 0 20px 10%;
  width: 800px;
  color: white;
  text-align: left;
  background-color:#29292c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* Manga updates styling */
#recentUpdatesContainer {
  margin: 20px auto;
  width: 800px;
  color: white;
  text-align: left;
  background-color:#29292c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px; /* Add space between cells */
}

td {
  vertical-align: top;
  padding: 10px;
}

img {
  width: 100%;
  max-width: 600px;
  height: 25%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: white;
}

.resultTitle, .resultChapter {
  margin-bottom: 5px;
}
.randomBtn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }
  
  .randomBtn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .randomBtn:hover .text {
    color: white;
  }
  
  .randomBtn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 
  #favoriteCheckbox + .favorite-container {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
  }
  
  #favoriteCheckbox {
    display: none;
  }
  
  #favoriteCheckbox:checked + .favorite-container svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
  }
  
  @keyframes heartButton {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.3);
    }
  
    50% {
      transform: scale(1);
    }
  
    75% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  #favoriteCheckbox + .favorite-container .action {
    position: relative;
    overflow: hidden;
    display: grid;
  }
  
  #favoriteCheckbox + .favorite-container .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
  }
  
  #favoriteCheckbox + .favorite-container .action span.option-1 {
    transform: translate(0px,0%);
    opacity: 1;
  }
  
  #favoriteCheckbox:checked + .favorite-container .action span.option-1 {
    transform: translate(0px,-100%);
    opacity: 0;
  }
  
  #favoriteCheckbox + .favorite-container .action span.option-2 {
    transform: translate(0px,100%);
    opacity: 0;
  }
  
  #favoriteCheckbox:checked + .favorite-container .action span.option-2 {
    transform: translate(0px,0%);
    opacity: 1;
  }
  .input-group-search {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    width:70%;
    height: 60px;
    padding:5%;

  }
  
  .search-manga-button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
    background: #2E2E2E;
    border-radius: 0 10px 10px 0;
    transition: 0.3s;
  }
  
  .search-manga-button:hover {
    transition: 0.3s;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    cursor: pointer;
  }
  
  .search-manga-button:active {
    transform: translate(0em, 0.2em);
  }
  
  .search-manga-button span {
    font-weight: 800;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  
  .search-manga-button:hover span {
    background: #2E2E2E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  
  #input-field-search {
    background-color: #2E2E2E;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 900px;
    padding-left: 40px;
    color: white;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    color: rgb(184, 184, 184);
  }
  .searchResultCell {
    position: relative;
    background-color:#29292c;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 180px; /* Adjusted to accommodate padding and image */
    text-align: center;
}
.resultGlow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}
.searchResultCell:hover .resultGlow {
    opacity: 1;
}
.resultBorderGlow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}
.searchResultCell:hover .resultBorderGlow {
    opacity: 1;
}
.resultTitle {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
}
.resultCoverArt img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.resultChapter {
    font-size: 0.9em;
    margin-top: 5px;
}
#search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:white;
    
}
.manga-menu {
  display: block;
  width: 100%;
  background: #29292c;
  line-height: 1.6em;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

/* Strip the ul of padding and list styling */
.manga-menu ul {
  
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  background: #29292c;
}

/* Create a horizontal list with spacing */
.manga-menu li {
  display: inline-block;
}

/* Style for menu links */
.manga-menu li a {
  display: block;
  min-width: 140px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: normal;
  background: #29292c;
  text-decoration: none;
  margin-left: -5px;
  padding: 10px 0;
  transition: all 0.4s ease 0s;
}

/* Hover state for top level links */
.manga-menu li:hover a {
  color: rgba(0, 0, 0, 0.5);
  background-color: lightgray;
}

/* Style for dropdown links */
.manga-menu li:hover ul a {
  background: #29292c;
  color: white;
  height: 40px;
  line-height: 40px;
}

/* Hover state for dropdown links */
.manga-menu li:hover .manga-menu ul a:hover {
  color: lightgray;
}

/* Hide dropdown links until they are needed */
.manga-menu li ul {
  display: none;
}

/* Make dropdown links vertical */
.manga-menu li ul li {
  display: block;
  float: none;
}

/* Prevent text wrapping */
.manga-menu li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/* Style 'show menu' label button and hide it by default */
.manga-menu .show-manga-menu {
  text-decoration: none;
  color: white;
  background: #29292c;
  text-align: center;
  padding: 10px 15px;
  display: none;
  cursor: pointer;
  text-transform: normal;
}

.manga-menu .show-manga-menu span {
  padding-left: 2em;
  text-align: right;
}

/* Hide checkbox */
.manga-menu input[type="checkbox"] {
  display: none;
}

/* Show menu when invisible checkbox is checked */
.manga-menu input[type="checkbox"]:checked ~ #manga-menu {
  display: block;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .manga-menu .manga-lines {
    border-bottom: 15px double black;
    border-top: 5px solid black;
    content: "";
    height: 5px;
    width: 20px;
    padding-right: 15px;
    float: right;
  }
  /* Make dropdown links appear inline */
  .manga-menu ul {
    position: static;
    display: none;
  }
  /* Create vertical spacing */
  .manga-menu li {
    margin-bottom: 0;
  }
  /* Make all menu links full width */
  .manga-menu ul li,
  .manga-menu li a {
    width: 100%;
  }
  /* Display 'show menu' link */
  .manga-menu .show-manga-menu {
    display: block;
  }
}
#recentUpdatesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 80%;
}

.manga-card {
  background-color: #29292c;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: calc(20% - 20px); /* Adjusted width for larger cards, accounting for padding and margin */
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.manga-card img {
  width: 100%;
  height: 300px; /* Increased height for larger images */
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-content .truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: white;
}

.card-content .resultTitle {
  margin-bottom: 10px; /* Increased margin for better spacing */
}

.card-content .resultChapter {
  margin-bottom: 10px; /* Increased margin for better spacing */
  color: white;
}
/* <main-style> ============================ */
.chapter__button {
  min-width: 100px;
  height: 36px;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #fff;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.chapter__button::before {
  content: 'Read Now!';
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  z-index: 1;
}

.chapter__button:hover::before {
  top: 0;
}

.chapter__button span {
  color: #fff;
  line-height: 1;
  transition: color .4s;
  position: relative;
  z-index: 2;
}

.chapter__button:hover span {
  color: transparent;
}

.randomMangaChapter__button {
  min-width: 100px;
  height: 36px;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #fff;
  background-color: transparent;
  color: white;
  position: relative;
  overflow: hidden;
}

.randomMangaChapter__button::before {
  content: 'Read Now!';
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  z-index: 1;
}

.randomMangaChapter__button:hover::before {
  top: 0;
}

.randomMangaChapter__button span {
  color: #fff;
  line-height: 1;
  transition: color .4s;
  position: relative;
  z-index: 2;
}

.randomMangaChapter__button:hover span {
  color: transparent;
}
.chapter-row-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px; /* Adjust as needed */
}

.last-visited-cell {
  background-color: #29292c;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 30%; /* Adjusted width for larger cards, accounting for padding and margin */
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.last-visited-cell img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
}

.last-visited-cell .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
}

